# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors
.idea/
.vscode/
*.swp
*.swo
*~
*~lock~

# Logs and temp files
*.log
tmp/
temp/

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Dependency managers
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Artifacts
*.ipa
*.dSYM
*.dSYM.zip
